.form {
    display: inline-block;
    width: 300px;
    font-family: "Open Sans Condensed", "Open Sans", helvetica, sans-serif;
    letter-spacing: 0.1em;
}

.form-control:focus {
    box-shadow: none;
}