.balance {
    position: absolute;
    top: 40px;
    right: 20px;
    transform: translateY(-50%);
    color: #3d5467;
    text-transform: uppercase;
    font-family: "Open Sans Condensed", "Open Sans", helvetica, sans-serif;
    letter-spacing: 0.1em;
    padding: 0.25em;
    line-height: 1;
    border-radius: 2px;
    background: #f1edee;
    width: 180px;
}